.CanvasWrapper {
  position: relative;
}

.vertex {
  pointer-events: none;
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);

  background-color: rgb(0, 72, 157);
  color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);

  font-size: 30px;
}

.arrow {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
}
